<section class="contenedor-prpal-registro">
    <div class="container">
        <h1>Registro</h1>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="alert">{{resultado}}</div>
                <form class="formulario-registro"  [formGroup]="formularioContact" (ngSubmit)="submit()">
                    <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName="nombre" required >
                      <span *ngIf="this.formularioContact.get('nombre')?.errors?.['required']">
                        
                      </span>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text-center" class="form-control" id="correo" aria-describedby="emailHelp" formControlName="correo" required >
                          <span *ngIf="this.formularioContact.get('correo')?.errors?.['email']">
                            el formato de correo no es correcto
                          </span>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="number" class="form-control" id="telefono" aria-describedby="emailHelp" formControlName="telefono" required>
                        <span *ngIf="this.formularioContact.get('telefono')?.errors?.['required']">
                            
                            
                          </span>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" aria-describedby="emailHelp"  formControlName="direccion" required>
                        <span *ngIf="this.formularioContact.get('direccion')?.errors?.['required']">
                            
                          </span>
                    </div>
                    <div class="mb-3">
                      <label for="pass" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="pass" formControlName="contraseña" >
                      <span *ngIf="this.formularioContact.get('contraseña')?.errors?.['required']">
                       
                      </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-app">Registrar</button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="imagen-delivery"></div>
            </div>
        </div>
    </div>
</section>
