.divider2{
    border: 1px solid #c5c5c5;
    margin-bottom: 1rem;
    width: 2rem;
}
.contenido-catalogo{
    padding-top: 32px;
    padding-bottom: 50px;
}
.banner-prpal-catalogo{
    background-image: url(/assets/imagen/delivery.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-attachment: fixed;
    margin-bottom: 3rem;
}